
body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color:rgb(139, 139, 139) ;
  }
  

  header {
    background-color: #6B7476;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fbfbfb;
    font-weight: bold;
    font-size: 16px;
  }
  
  
  .review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .review h2 {
    margin-top: 0;
  }
  
  .review p {
    margin-bottom: 5px;
  }
  

  form {
    max-width: 400px;
    margin-top: 20px;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
